@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-purple-700;
}

.bg-gradient{
@apply bg-gradient-to-r from-blue-600 to-purple-700;
}

.shadow-custom {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 -4px 6px rgba(0, 0, 0, 0.1),
        4px 0 6px rgba(0, 0, 0, 0.1),
        -4px 0 6px rgba(0, 0, 0, 0.1);
}
.scroll-smooth {
    scroll-behavior: smooth;
}

#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}